body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; 
  width: 100vw;
  padding: 0px;   
  margin: 0px; 
  overflow: hidden;
}

#root {
  height: 100vh; 
  width: 100vw;
  padding: 0px;   
  margin: 0px; 
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Target the pagination wrapper inside the table */
.tight-table .ant-table-pagination {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
}